flows (1).json
[{"id":"7bd43f20.7f3bf","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4983265.1e275d8","type":"watson-conversation-v1","z":"7bd43f20.7f3bf","name":"Resto Bot","workspaceid":"81dda9fb-a543-4aaa-9d70-cdad18812a5d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0ea3e5af-9acc-4b4d-b13a-efa412ac9a83","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["d946498c.eb5408"]]},{"id":"e989453c.4ffac8","type":"inject","z":"7bd43f20.7f3bf","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["4983265.1e275d8"]]},{"id":"f6ad4e37.81f26","type":"debug","z":"7bd43f20.7f3bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"d946498c.eb5408","type":"function","z":"7bd43f20.7f3bf","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["f6ad4e37.81f26","e03a2b9b.9fcbf8","15e7ce15.64bc22","58e1ed5b.200284"]]},{"id":"fd7605a5.3cb5a8","type":"ui_form","z":"7bd43f20.7f3bf","name":"","label":"","group":"4584f86c.82a018","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["d21a85ec.839d38"]]},{"id":"d21a85ec.839d38","type":"function","z":"7bd43f20.7f3bf","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["4983265.1e275d8","ffe0bba1.187818"]]},{"id":"ffe0bba1.187818","type":"ui_text","z":"7bd43f20.7f3bf","group":"4584f86c.82a018","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"e03a2b9b.9fcbf8","type":"ui_text","z":"7bd43f20.7f3bf","group":"4584f86c.82a018","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"15e7ce15.64bc22","type":"ui_audio","z":"7bd43f20.7f3bf","name":"","group":"4584f86c.82a018","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"58e1ed5b.200284","type":"ui_template","z":"7bd43f20.7f3bf","group":"4584f86c.82a018","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"4584f86c.82a018","type":"ui_group","z":"","name":"Chatbot","tab":"730d8e9b.47a01","order":1,"disp":true,"width":"6","collapse":false},{"id":"730d8e9b.47a01","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]